.container {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(59, 31, 59, 0.3);
  margin: 30px auto;
  padding: 5px 15px;
}

.search {
  margin: 0;
}
.citySearch {
  border-radius: 5px;
  padding: 0 10px;
}

i {
  font-size: 16px;
  width: 16px;
}
.currentCity {
  padding-top: 10px;
}

.currentCityScreen > p {
  font-size: 12px;
}

.temperature {
  font-size: 40px;
}

.temperature > div {
  display: inline;
}

.fahrenheit,
.celsius {
  border: none;
  background-color: transparent;
  font-size: 12px;
  position: absolute;
  top: 0;
}

.stats {
  display: flex;
  margin: auto;
}
/*button {
  font-size: 12px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid grey;
  float: right;
  margin: 10px;
}*/
a {
  float: right;
  text-decoration: none;
}
